<!DOCTYPE html>

<html>
<head>

    <title>@ViewBag.Title</title>
    <link href="~/Content/MySite.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/jquery-3.3.1.slim.min.js" type="text/javascript"></script>
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script|Montserrat:400,700&amp;subset=cyrillic-ext" rel="stylesheet">
    <title>Сайт-резюме</title>
    <meta http-equiv="Cache-Control" content="no-cache">
</head>
<body>

    <header class="header">
        <div class="container">
            <div class="header__inner">
                <div class="header_logo">Сайт-резюме</div>
                <nav class="nav">
                    <a class="nav_link" href="/Home/Index">Главная</a>
                    <a class="nav_link" href="/Home/About">Обо мне</a>
                    <a class="nav_link" href="/Home/Contact">Контакты</a>
                </nav>
            </div>
        </div>
    </header>

    <div class="intro">
        <div class="intro_inner">
           @RenderBody()
        </div>
    </div>
</body>
</html>