@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "About";
}
<h2>Образование:</h2>

<p>
    <h4>Профессионально-техническое:</h4> В 2008г. окончил «Минское государственное профессионально-техническое училище №24 строителей имени Н.А. Кедышко».
    Специальность: Мастер отделочных работ.

    <h4>Среднее-специальное:</h4> В 2010 г. окончил «Смиловичский государственный аграрный колледж». Специальность: Экономика и организация производства.
    <br />
    <h4>Высшее:</h4> В 2017 г. Окончил «Белорусский Государственный технический университет». Факультет транспортных коммуникаций.
    Специальность: Подъемно-транспортные, строительные, дорожные машины и оборудование.
    <br />
    <br />
    <h2>Работа:</h2>
    <h4>ОАО «Мапид»</h4>
    Должность: Рабочий
    <br />
    Период: с 2008г. по 2010г.
    <br />
    <br />
    <h3>ОАО «ЖРЭО»</h3>
    Должность: Мастер службы заказчика
    <br />
    Период: с 2010г. по 2012г.
    <br />
    <h4>Должностные обязанности:</h4>
    – Составление сметной документации на ремонт жилого и нежилого фонда.
    – Составление дефектных актов на ремонт жилого и нежилого фонда.
    <br />
    <br />
    <h3>ОАО «МАЗ»</h3>
    Должность: Инженер-конструктор
    <br />
    Период: с 2017г.
    <br />
    <h4>Должностные обязанности:</h4>
    – Составление конструкторской документации (создание чертежей в AutoCAD,
    построение 3D – моделей, инженерные расчеты);
    – Контроль качества изготовления отдельных деталей и узлов автомобиля.
    <br />
    <br />
    <h2>Дополнительные навыки:</h2>
    – знание основ языка программирования C#;
    <br />
    – базовые знания технологии ASP.NET MVC;
    <br />
    – SQL;
    <br />
    – HTML;
    <br />
    – CSS;
    <br />
    – JavaScript;
    <br />
    – GitHub.
</p>