@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Contact";
}

<h1>Контакты</h1>
<br />
<address>
    <p>Тел. +37544 510-28-81</p>
    <p>Email: Karetski@bk.ru</p>
</address>

<address  style="font-size: 300%">
    <a href="https://github.com/Ypssyp"><img src="~/Content/Img/github-logo.png" /></a>
    <a href="https://www.linkedin.com/in/евгений-карецкий-a4b610202/"><img src="~/Content/Img/linkedin_black.png" /></a>
</address>