@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Index";
}

<section class="hero_head">
    <div >
        <img class="hero_head-img" src="~/Content/Img/Face.jpg" alt="user photo" />
        <h2>Карецкий Евгений</h2>
    </div>
</section>
<section class="hero_head">
    <div>
        <p>
            Я написал этот сайт при помощи технологии ASP.Net MVC компании Microsoft.
            На данный момент я изучаю и применяю в своих проектах C#, SQL, HTML/CSS.
            Немного знаю Java Script. Некоторые свои работы и проекты я выкладываю в GitHub.
            По мере развития своих навыков я улучшаю сайт и добавляю новый контент.
        </p>
    </div>
</section>
@*<section>
    <div>
        <h1>Контакты</h1>
        <p>Тел. +37544 510-28-81</p>
        <p>Email: Karetski@bk.ru</p>
        <div class="container" style="font-size: 15px">
            <a href="https://github.com/Ypssyp"><img src="~/Content/Img/github-logo.png" /></a>
            <a href="https://www.linkedin.com/in/евгений-карецкий-a4b610202/"><img src="~/Content/Img/" /></a>
        </div>
    </div>
</section>*@